<!DOCTYPE html>  
<html lang="en">  
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="ABC Learning - After school classes website offers various lessons that students or parents on behalf of their children can choose from, to gain help in any subject."> 
    <meta name="keywords" content="After School Classes, Help Classes, ABC Learning"> 
    <meta name="author" content="Rohan Tambe">
    <title>After school Lessons</title> 
    <link rel="icon" type="image/x-icon" href="assets/Book logo.png"> 
    <link rel="stylesheet" href="css/styles.css"> 
    <link rel="stylesheet" href="css/mediaqueries.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <section id="navigation-bar"> 
                <figure @mouseover="showSchool = true" @mouseleave="showSchool = false" class="nav-item"> 
                    <img v-bind:src="school.logo" class="nav-logo"> 
                </figure> 
                <p @mouseover="showInfo = true" @mouseleave="showInfo = false" class="nav-item">INFO</p>
                 <div v-if="showInfo" class="info-box">
                     <p>A school to learn new concepts that can help you or your child learn various things.</p>
                 </div>
                 <p @mouseover="showContact = true" @mouseleave="showContact = false" class="nav-item">CONTACT</p>
                 <div v-if="showContact" class="contact-box">
                     <p>Contact info: +9876543210</p>
                 </div>
                <div id="search-box">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text" name="search" id="search-area" placeholder="Search...">
                </div> 
                <button class="nav-item nav-button" v-on:click="showSortSection">SORT</button> 
                <button class="nav-item nav-button" v-on:click="showCheckoutSection">CHECKOUT&nbsp;<i class="fa-solid fa-cart-shopping"></i>&nbsp;<div id="cart-counter">{{cartItemCount}}</div></button> 
            </section> 
        </header>
        <main>
            <div v-if="!showCheckout">
                <section id="sort-section" v-if="showSort">
                    <div class="filter-section"> 
                        <h3><i class="fas fa-filter"></i> Sort by Price</h3> 
                        <div class="filter-group"> 
                            <button class="sort-button" @click="sortAscending"><i class="fas fa-arrow-up"></i> Ascending</button> 
                            <button class="sort-button" @click="sortDescending"><i class="fas fa-arrow-down"></i> Descending</button> 
                        </div>
                    </div>
                </section>
                <section id="product-section">
                    <div class="product-container"> 
                        <div v-for="product in sortedProducts" :key="product.id" class="product-card"> 
                            <figure> 
                                <img :src="product.img" class="product-img"> 
                            </figure> 
                            <h2 class="product-item">{{ product.title }}</h2>
                            <p class="product-item product-location">{{ product.location }}</p>
                            <p v-if="product.availability > 1" class="product-item product-avail">{{ product.availability }} seats are available</p>
                            <p v-else-if="product.availability == 1" class="product-item product-avail">{{ product.availability }} seat is available</p>
                            <p v-else class="product-item product-avail">No seats are available</p> 
                            <p class="product-item product-price">AED {{ product.price }}</p> 
                            <div class="button-container"> 
                                <button v-on:click="addToCart(product)" v-if="product.availability > 0" class="add-button">ADD TO CART</button> 
                                <button disabled v-else class="add-button">NO SEATS  ARE AVAILABLE</button> 
                            </div>
                        </div> 
                    </div>
                </section>
            </div>
            <div v-else>
                <section id="cart-section">
                    <h2 class="title">Your Cart <i class="fa-solid fa-cart-shopping"></i></h2> 
                    <div> 
                        <div v-for="item in cartItems" :key="item.id" class="cart-item"> 
                            <h3>{{ item.title }}</h3> 
                            <p>Location: {{ item.location }}</p> 
                            <p>Price: AED {{ item.price }}</p> 
                            <p>Seats: {{ item.quantity }}</p>
                            <div>
                                <button v-on:click="decreaseQuantity(item)">-</button>
                                <button v-on:click="increaseQuantity(item)">+</button>
                            </div>
                        </div> 
                        <p>Total: AED{{ cartTotal }}</p>                                                             
                    </div> 
                    <div class="checkout-container"> 
                        <button v-on:click="proceedToCheckout" class="checkout-button">Proceed to Checkout</button> 
                        <button v-on:click="goToHomepage" class="back-button">Back to Homepage</button> 
                    </div>
                </section>
            </div>
        </main>
        <footer> 
            <div class="footer-content"> 
                <p>&copy; 2024 ABC Learning . All Rights Reserved.</p> 
                <ul class="social-links"> 
                    <li><a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a></li> 
                    <li><a href="#" class="social-icon"><i class="fab fa-twitter"></i></a></li> 
                    <li><a href="#" class="social-icon"><i class="fab fa-instagram"></i></a></li> 
                </ul>
            </div>
        </footer>
    </div>
    
    <script>
        new Vue({
            el: '#app',
            data: {
                school: {
                    name: 'ABC Learning',
                    logo: 'assets/Book logo.png'
                },
                products: [
                    { id: 1, title: 'Math Tutoring', location: 'Dubai', availability: 5, price: 30, img: 'assets/math photo.png' },
                    { id: 2, title: 'English Lessons', location: 'London', availability: 2, price: 25, img: 'assets/english photo.png' },
                    { id: 3, title: 'Science Lab', location: 'New York', availability: 7, price: 50, img: 'assets/science photo.png' },
                    { id: 4, title: 'History Lectures', location: 'Dubai', availability: 3, price: 40, img: 'assets/history photo.jpeg' },
                    { id: 5, title: 'Coding Class', location: 'London', availability: 10, price: 20, img: 'assets/computer photo.png' },
                    { id: 6, title: 'Art Classes', location: 'New York', availability: 8, price: 35, img: 'assets/art photo.png' }
                ],
                cartItems: [],
                showCheckout: false,
                showSort: false,
                showSchool: false,
                showInfo: false,
                showContact: false,
                sortOrder: 'asc' // Track the current sorting order
            },
            computed: {
                sortedProducts() {
                    
                    return this.products.slice().sort((a, b) => {
                        return this.sortOrder === 'asc' ? a.price - b.price : b.price - a.price;
                    });
                },
                cartItemCount() {
                    return this.cartItems.length;
                },
                cartTotal() {
                    // Loop through the cart items and calculate the total
                    return this.cartItems.reduce((total, item) => {
                        return total + (item.price * item.quantity);
                    }, 0);
                }
            },
            methods: {
                addToCart(product) {
                    let cartItem = this.cartItems.find(item => item.id === product.id);
                    if (cartItem) {
                        cartItem.quantity += 1;
                    } else {
                        this.cartItems.push({ ...product, quantity: 1 });
                    }
                    product.availability -= 1;
                },
                removeFromCart(item) {
                    let cartItem = this.cartItems.find(cartItem => cartItem.id === item.id);
                    if (cartItem && cartItem.quantity > 1) {
                        cartItem.quantity -= 1;
                    } else {
                        this.cartItems = this.cartItems.filter(cartItem => cartItem.id !== item.id);
                    }
                    let product = this.products.find(product => product.id === item.id);
                    if (product) {
                        product.availability += 1;
                    }
                },
                proceedToCheckout() {
                    alert('Moving to Checkout....');
                },
                showCheckoutSection() {
                    this.showCheckout = true;
                },
                showSortSection() {
                    this.showSort = !this.showSort;
                },
                sortAscending() {
                    this.sortOrder = 'asc';
                },
                sortDescending() {
                    this.sortOrder = 'desc';
                },
                increaseQuantity(item) {
                    item.quantity += 1;
                    let product = this.products.find(product => product.id === item.id);
                    if (product) {
                        product.availability -= 1;
                    }
                },
                decreaseQuantity(item) {
                    if (item.quantity > 1) {
                        item.quantity -= 1;
                        let product = this.products.find(product => product.id === item.id);
                        if (product) {
                            product.availability += 1;
                        }
                    } else {
                        this.removeFromCart(item);
                    }
                },
                goToHomepage() {
                    this.showCheckout = false;
                }
            }
        });
    </script> 
</body>  
</html>